---
import Item from "@/components/Item.astro"
import { projects } from "@/data/projects"
import Layout from "@/layouts/Layout.astro"
import NavLayout from "@/layouts/NavLayout.astro"
---

<Layout>
  <NavLayout transition="experience">
    <h1
      class="dark:text-green-300 text-5xl sm:text-7xl font-black w-fit mx-auto mb-7"
    >
      Experiencia
    </h1>
    <section
      class="border-t border-[#0b0e394a] py-6 pb-2 px-4 flex flex-wrap justify-center gap-3"
    >
      {
        projects.map((pj) => (
          <div class="w-fit mb-4">
            <Item>
              <a href={`/experience/${pj.slug}`}>
                <div class="w-[200px] dark:bg-[hsl(240,76%,8%)] border dark:border-[hsl(240,76%,8%)]">
                  <img
                    loading="lazy"
                    transition:name={pj.slug}
                    class="object-bottom w-[250px] mr-6 mb-1 rounded-t-[20px]"
                    src={pj.image}
                    alt="Cortito image"
                  />
                  <div class="p-1">
                    <h3 class="font-semibold text-lg">{pj.title}</h3>
                    <p class="line-clamp-2">{pj.description}</p>
                  </div>
                </div>
              </a>
            </Item>
          </div>
        ))
      }
    </section>
  </NavLayout>
</Layout>
